<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <div th:fragment="header-css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    </div>
    <title></title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="" >Logo</a>
        <ul class="navbar-nav col-8" th:if="${@userContextService.getLoggedUserEmail()}">
            <li class="nav-item" >
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item" th:if="${@userContextService.admin()}">
                <a href="/admin/category">Dodaj kategorię</a>
            </li>
            <li class="nav-item" th:if="${@userContextService.admin()}">
                <a href="/admin/categories">Kategorie</a>
            </li>
            <li class="nav-item" th:if="${@userContextService.admin()}">
                <a href="/admin/product">Dodaj produkt</a>
            </li>
            <li class="nav-item" th:if="${@userContextService.admin()}">
                <a href="/admin/products">Lista produktów</a>
            </li>
            <li class="nav-item" th:if="${@userContextService.user()}">
                <a th:if="${@userContextService.getLoggedUserEmail()}" href="/products/list">Produkty - lista</a>
            </li>
            <li class="nav-item" th:if="${@userContextService.user()}">
                <a th:if="${@userContextService.getLoggedUserEmail()}" href="/products/table">Produkty - tabela</a>
            </li>
        </ul>

    </nav>
    <form th:if="${@userContextService.user() and cartActive == true}" th:action="@{/placeOrder}">
        <div style="float: right" id="cartWidget">
            TWÓJ KOSZYK:
            <ul id="orderItems">
                <li id="toReplace"></li>
            </ul>
            <button type="submit" >KUPUJĘ</button>
        </div>
    </form>
    <script type="text/javascript">
        var addToCart = function (prodId) {

            $.post("/addToCart", {prodId: prodId})
                .done(function (data) {
                    console.log(data)
                    $('#toReplace').html('')
                    var parse = JSON.parse(data);
                    var orderLines = parse.orderLines;
                    var items = '';
                    for (o in orderLines) {
                        var orderLine = orderLines[o];
                        items += ("<li>" + orderLine.product.productName + '(' + orderLine.quantity + ')' + "</li>")
                    }


                    $('#toReplace').html('').html(items);
                })
        };

        $('a[href="' + this.location.pathname + '"]').addClass('active');
    </script>
</div>
</body>
</html>